<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ejs test</title>
</head>
<body>
   <% var name = 'Apple';%>
    <h1><%=name%></h1>
    <p><%=52*273%></p>
    <hr/>

    <% for(var i =1;i<10;i++){%>
    <h2>곱셈 <%=i%>*<%=i%>=<%=i *i%> </h2>
    <%}%>
</body>
</html>